@use "./colors" as *;

body{
  margin: 0;
}

header{
  background-color: $rich-black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    color: $white;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
  }
}